<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="author" content="Kazong Games" />
    <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
    <meta http-equiv="cache-control" content="public" />

    <meta property="og:url" content="https://kazong-game.com/de/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Quiz-, Mini-, Brain-Game Multiplayer APP" />
    <meta property="og:description" content="Challenge your friends in a 3 round match of different games" />
    <meta property="og:image" content="///kazong-game.com/img/fb/msg-img3.png" />

    <link href='/{{ page.language }}/feed.xml' rel='alternate' type='application/rss+xml' />
    <link rel="icon" type="image/ico" href="/{{ page.base_dir }}images/fav-ico.ico" />
    <link href='///fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" />
</head>
