<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="author" content="Kazong Games" />
    <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
    <meta http-equiv="cache-control" content="public" />

    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta property="og:image" itemprop="image" content="{{ site.url }}{{ page.fb_image }}" />
    {% if ignore_i18n != true %}
        {% for language in site.languages %}{% capture lang_path %}/{{ page.language }}{% endcapture %}{% if language != page.language %}
        <link rel="alternate" href="/{{ language }}{{ page.url | remove_first:lang_path }}" hreflang="{{ language }}" />
        {% endif %}{% endfor %}
        <link href='/{{ page.language }}/rss.xml' rel='alternate' type='application/rss+xml' />
    {% endif %}
    <link rel="icon" type="image/ico" href="/{{ page.base_dir }}images/fav-ico.ico" />
    <link href='///fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" />

    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '270923726577245');
    fbq('track', "PageView");</script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=270923726577245&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
</head>
