<header class="header-unit sm unit" itemscope itemtype="http://schema.org/Product">
    <h1 class="brandheader"><span itemprop="name">Kazong Game</span>. <span itemprop="description">Quiz-, Mini & Brain-Game Multiplayer App</span></h1>
    <div class="wrapper text-center" itemscope itemtype="http://schema.org/ImageObject">
        <a href="/{{page.language}}/" hreflang="{{ page.language }}"><img class="header-logo sm" src="/{{ page.base_dir }}images/corporate/kazong-header.png" alt="Kazong Game | Quiz, Mini, Brain-Game Multiplayer APP" itemprop="contentUrl"></a>
    </div>
</header>