<nav class="page-nav sm bg-purple-back">
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="events.html">Events</a></li>
        <li><a href="press.html">Presse</a></li>
    </ul>
</nav>