<nav class="page-nav sm bg-purple-back">
    <ul>
        <li><a href="index.html">Home</a></li>
        <li class="dropdown"><a>Events</a>
            <div class="dropdown-content">
                <a class="event" href="event-xmas2016.html">Xmas 2016</a>
                <a class="event" href="event-em2016.html">EM 2016</a>
            </div>
        </li>
        <li><a href="press.html">Presse</a></li>
    </ul>
</nav>



