{% assign event_item = site.data[page.language].event_item %}
{% assign eventunit = event_item.eventunit %}
{% assign prizeunit = event_item.prizeunit %}
{% assign screenshots = event_item.screenshots %}
{% assign descriptionunit = event_item.descriptionunit %}
{% assign gamesunit = event_item.eventgamesunit %}
{% assign challengeunit = event_item.challengeunit %}

<section class="event-unit game unit">
    <article class="section-textbox">
            <p class="event-headline">Join The Brexit Tea Party</p>
            <div id="brexit" class="game">

                <div class="game-over" >
                    <div id="submit" class="apply" style="display: none">
                        <div class="th">
                            Submit your Score <span>Apply for the New-Euro-Pass</span>
                        </div>
                        <img class="neweuropass" src="../images/event/brexit/neweuropass.png"/>
                        <input id="userIn" class="nick" placeholder="Passport Holder Name">
                        <button class="submit" onclick="onHighScoreSubmit ();">Submit</button>
                    </div>

                    <div id="board" class="highscores">
                        <div class="th">
                            Heightscores
                            <span>Top 100</span>
                        </div>
                        <div class="scroll">
                            <table class="score-tbl">
                                <tr>
                                    <th>#</th>
                                    <th>Applicant</th>
                                    <th>Qualification-Score</th>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </article>
</section>

<!--
<script type="text/javascript" src="phaser.min.js"></script>
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="brexit.js"></script>
-->