/*-----------------------------------------------------------------------------------*/
/*  HELPER STYLES
/*-----------------------------------------------------------------------------------*/

* {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
//    text-shadow: 1px 1px 1px #000;
}

html {
    height: 100%;
    background-color: #453a4b;
}

.col-md-8 { width: 67%; }
.relative { position: relative; }
.vmiddle { vertical-align: middle; }
.v-bottom { vertical-align: bottom; }
.inline { display: inline-block }
.align-top { vertical-align: top }
.pull-left { float: left }
.pull-right { float: right }
.text-left { text-align: left }
.text-right { text-align: right }
.text-center { text-align: center }
.text-justify { text-align: justify }
.ClearBottom { padding-bottom: 0px !important; }
.bold { font-weight: bold; }

.table { display: table; }
.cell { display: table-cell; }
.tbl-cell {
    display: table-cell;
    height: inherit;
    width: inherit;
    vertical-align: middle;
}

.flex { display: flex; }
.wrap { flex-wrap: wrap; }
.wrap-reverse { flex-wrap: wrap-reverse; }

input, textarea { text-shadow: none; display: block; border: none; box-shadow: 1px 1px 3px rgba(0,0,0,.5), inset 0 1px 0 #fbfbfb; font-size: 14px; background: #fff; }
input:focus, textarea:focus, input[type="submit"]:hover { border-color: #c7c7c7; }
input[type="submit"] { width: auto; cursor: pointer; color: #a7a7a7; }
input[type="submit"]:hover { color: #666; }
input[type="submit"] { padding-left: 0px !important }
textarea { resize: none; margin-bottom: 15px; padding: 10px 0;}

.lazy__container {
    position: relative;
    display: inline-block;
}
.lazy__container.header {
    position: relative;
    display: block;
}
.lazy__container .low-res {
    opacity: 1;
    transition: opacity .25s linear;
    -moz-transition: opacity .25s linear;
    -webkit-transition: opacity .25s linear;
}
.lazy__container.lazy__loaded .low-res {
    opacity: 0;
}
.lazy__container .lazy {
    opacity: 0;
    transition: opacity .25s linear;
    -moz-transition: opacity .25s linear;
    -webkit-transition: opacity .25s linear;
    position: absolute;
    top: 0;
    left: 0;
}
.lazy__container .lazy.header { right: 0; margin: auto; }
.lazy__container.lazy__loaded .lazy {
    opacity: 1;
}

.social-media-sharing {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 115px;
    overflow: hidden;

    &.shariff {
        .orientation-vertical {
            > li {
                margin-bottom: 0;
                margin-top: 0;
            }
        }
    }
}

.challenge-wrapper {
    .image-box {
        display: inline-block;
    }
}

/*-----------------------------------------------------------------------------------*/
/*  POPUP
/*-----------------------------------------------------------------------------------*/

.popup {
    position: fixed;
    margin: auto;
    top: 0; bottom: 0; left: 0; right: 0;
    width: 500px;
    height: 250px;
    padding: 20px 20px 10px 20px ;
    border-radius: 7px;
    text-align: center;
    border: 1px solid rgba(255,255,255,.5);
    background-color: rgba(46,204,113,.9);
    box-shadow: 3px 3px 3px rgba(0,0,0,.75);
    color: #fff;
}

.popup-close {
    position: absolute;
    top: 10px; right: 10px;
    width: 20px;
    opacity: 1;
}

.success-img { width: 100px; }

.succes-txt, .succes-thx, .succes-footer>div { text-shadow: none; }

.succes-txt {
    padding: 15px 0;
    font-size: 20px;
}

.succes-thx {
    padding-top: 5px;
    font-weight: bold;
    font-size: 24px;
}

.succes-footer {
    border-top: 1px solid rgba(255,255,255,.5);
    margin: 15px 10px 0 10px;
}

.succes-footer > div {
    padding-top: 7px;
    font-size: 11px;
    color: rgba(255,255,255,.5);
}


/*-----------------------------------------------------------------------------------*/
/*  HEADER + NAV
/*-----------------------------------------------------------------------------------*/

.page-nav {
    width: 100%;
    text-align: center;
    background-color: rgba(255,255,255,.05);
    border-bottom: 1px solid rgba(30,25,35,.4);
    ul {
        display: flex;
        flex-direction: row;
        width: 90%;
        margin: 0 auto;
        padding: 0;
    }
    li {
        list-style: none;
        flex-grow: 1;
        text-align: center;
        padding: 15px 0;
        text-transform: uppercase;
        text-shadow: none;
        font-weight: bold;
        color: #34293a;
    }
    a {
        display: block;
        font-weight: bold;
        color: #34293a;
    }
    a:hover { color: #873caf; }
}


/*-----------------------------------------------------------------------------------*/
/*  HOMEPAGE STYLES
/*-----------------------------------------------------------------------------------*/

* { margin: 0; }
a { font-style: normal; text-decoration: none; color: #fff; }
a:hover { cursor: pointer !important; }
h1 { font-size: 30px; }
body { background-color: #453a4b; color: #fff; margin: 0; }

.wrapper {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center
}
.wrapper.txt-left { text-align: left; }

.exclusive-th {
    margin-top: 5vh;
    color: #873caf;
    font-weight: bold;
    text-shadow: none;
    font-size: 15px
}

.intro-webInstall {
    margin: 0 6vh 0 0;
    padding: 1.8vh 0.5vh;
    text-align: left;
    border-radius: 5px;
    border: 2px solid #873caf;
    text-shadow: none;
    color: #873caf;
}
.intro-webInstall ol > li:nth-child(2) { padding: 5px 0; }
.intro-webInstall ol > li, span { text-shadow: none; }

.bg-anim {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
}

.content-unit { margin: auto; }

.unit {
    border-bottom: 2px solid #1e1923;
}
.unit.btop {
    border-top: 2px solid #1e1923;
    border-bottom: 0px;
}

.header-unit {
    position: relative;
    background-color: #34293a;

    .brandheader {
        position: absolute;
        top: 0;
        left: -300%;
    }

    .lang-links {
        list-style: none;

        li {
            display: inline-block;

            .lang-sel-img {
                display: inline-block;
                text-align: right;
                width: 20px;
            }
        }
    }
}

.hero-unit {
    position: relative;
    background-color: #453a4b;
    overflow: hidden;
}

.section-headline {
    text-align: center;
    font-weight: bold;
    color: #873caf;
    text-shadow: none;
    text-transform: uppercase;
}

.section-padding { padding: 7vh 0; }
.pbottom { padding-bottom:  7vh; }


.sub-features {
    width: 85%;
    margin-left: auto;
    padding-left: 0px;
    &.left {
        margin-left: 0;
        margin-right: auto;
    }
    .sub-feature-item {
        display: inline-block;
        padding: 10px 15px;
        margin-bottom: 10px;
        background-color: #453a4b;
        border-radius: 10px;
        color: #f5d76e;
        text-shadow: none;
        font-weight: bold;
        right: 0;
    }
}

.slider-container {
    .lSSlideOuter {
        margin-bottom: 35px;

        .lSSlideWrapper {
            &.usingCss {
                margin-bottom: 35px;
            }
        }
    }
    .game-preview {
        text-align: center;
        list-style: none;
        padding: 0;
        margin: 0;

        .preview-item {
            .game-description {
                display: inline-table;
                vertical-align: top;

                .game-txt-wrapper {
                    display: table-cell;
                    vertical-align: middle;

                    .game-name {
                        display: block;
                        font-weight: 700
                    }
                    .game-txt {
                        text-justify: inter-word;
                    }
                }
            }
        }
    }
}

.lSSlideOuter .lSPager.lSpg > li { padding: 0 15px !important; }
.lSSlideOuter .lSPager.lSpg > li a { height: 10px !important; width: 10px !important; }
.lSSlideOuter .lSPager.lSpg>li:hover a, { background-color: #e119ff !important; }
.lSSlideOuter .lSPager.lSpg>li.active a { background-color: #873caf !important; }

/* BACKGROUNGDS */

.bg-purple { background-color: #34293a; }
.bg-purple-back { background-color: #453a4b; }
.bg-responsive { background-color: #453a4b; }
.bg-responsive2 { background-color: #34293a; }
.bg-bubble {
    background-image: url('images/bgbubble.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section-headline.border-top { border-top: 2px solid #34293a; }

// PRESS SECTION
//////////////////

.press-wrapper {
    padding: 20px;
    border-radius: 15px;
    background-color: #fff;
    color: #252525;
    line-height: 26px;

    a { display: block; color: #252525; }
    a:hover { color: #e119ff; }
}
//.release-introMsg { font-weight: bold }

.btn-press-unit {
    display: table;
    margin: auto;
    text-align: center;
    border-radius: 15px;
    background-color: #34293a;

    &.transparent {
        background: none;
    }
}
.btn-press-unit p { text-shadow: none; }
.btn-press-unit div { font-weight: bold; }
.release-unit {
    display: table;
    text-align: left;
    background-color: #34293a;
    &.colorinverse { background-color: #453a4b }
    .txt-icon {
        display: table-cell;
        vertical-align: middle;
        text-align: right;
    }
}

.team-img-lg { width: 100%; }

.release-title { font-weight: bold; }
.release-date { font-style: italic; }

.publications {
    list-style: none;
    margin: 0;
    padding: 0;

    .release-item {
        a {
            font-weight: bold;
            color: #fff;
        }
    }
}

.press-release-wrapper {
    padding: 20px;
}


// EVENT SECTION
//////////////////

.event-unit {
    position: relative;
    background-color: #453a4b;
    overflow: hidden;
    .event-wallpaper {
        position: absolute;
        width: 100%;
        bottom: 0;
    }
    .section-textbox {
        position: relative;
        width: 100%;
        text-align: center;
        .event-headline {
            text-shadow: 2px 2px 3px #000;
            font-weight: bold;
        }
        .section1-sub {
            background-image: url('../images/event/em2016/field.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-color: rgba(0,0,0,0.4);
            border: 2px solid rgba(255,255,255,.5);
            .prize-intro {
                .intro {
                    color: #2ecc71;
                    font-weight: bold;
                    text-shadow: 2px 2px 3px #000;
                }
                .prize {
                    display: table;
                    table-layout: fixed;
                    width: 100%;
                    .prize-item { display: table-cell; }
                    .prize-title { font-weight: bold }
                }
            }
        }
        .download-btn-container {
            display: table;
            border: 2px dashed rgba(255,255,255,.5);
            background-color: rgba(0,0,0,0.4);
            .goToStore-txt, .goToStore-btn {
                display: table-cell;
                vertical-align: middle;
            }
            .goToStore-txt {
                font-weight: bold;
                text-align: left;
                .playnow {
                    color: #2ecc71;
                    font-weight: bold;
                }
                .code-intro {  }
                .code {
                    display: inline-block;
                    border: 2px dashed #fff;
                }
            }
        }
    }
}


.event-descr {
    .duration {
        color: #873CAF;
        text-transform: uppercase;
    }
    .challenge-wrapper.second {
        flex-direction: column;
    }
}

.privacy-policy {
    text-align: left;
    margin-bottom: 5vh;
    .term-head {
        font-size: 18px;
        margin: 5vh 0 10px 0;
    }
}

//TEAPARTY GAME
////////////////////////
.event-unit {
    &.game {
        height: 100%;
        .backimg {
            position: absolute;
            z-index: 1;
            opacity: 0.065;
            top: 0;
            width: 100%;
            height: 100%;
        }
        article { z-index: 2; }
        canvas { border: 5px solid #000; }
        .share {
            text-align: center;
            margin: 0 auto 10px auto;
        }
        .social-media-sharing {
            position: initial;
            margin: 0 auto 40px auto;
            ul {
                display: flex;
            }
        }
    }
    .game {
        height: 600px;
        width: 400px;
        margin: 20px auto 40px auto;
        padding: 20px 0px;
    }
    .game-over {
            height: 600px;
            width: 400px;
            background-image: url('../images/event/brexit/brexit-teaparty-bg.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            margin: 20px auto 80px auto;
            border: 5px solid #fff;
        }
        .th {
            font-weight: bold;
            font-size: 23px;
            line-height: 2;
            color: #feb44b;
            span {
                display: block;
                font-size: 25px;
                color: #fff;
                font-weight: bold;
            }
        }
        .neweuropass {
            margin: 30px auto;
            width: 150px;
            height: auto;
        }
        .nick {
            width: 55%;
            background-color: transparent;
            border-radius: 15px;
            text-align: center;
            border: 1px solid #feb44b;
            margin: auto;
            padding: 10px 0px;
            box-shadow: none;
            font-size: 18px;
            color: #feb44b;
        }
        .nick:focus {
            outline:none;
        }
        .submit {
            width: 55%;
            background-color: #873caf;
            border-radius: 15px;
            text-align: center;
            margin: auto;
            padding: 10px 20px;
            box-shadow: none;
            font-size: 18px;
            border-style: none;
            border-color: none;
            color: #fff;
            font-weight: bold;
            margin-top: 30px;
        }
        .highscores {
            width: 100%;
            height: 575px;
            position: relative;
            .scroll {
                height: 440px;
                overflow: auto;
            }
            .score-tbl {
                border: 1px solid #fff;
                width: 90%;
                height: 90%;
                margin: auto;
                th { font-weight: bold; }
            }
            .replay {
                width: 50%;
                padding: 10px;
                color: #fff;
                font-weight: bold;
                margin: 15px auto 0 auto;
                background-color: #873caf;
                border-radius: 15px;
            }
        }
}

/*-----------------------------------------------------------------------------------*/
/*  END HOMEPAGE STYLES
/*-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/*  FOOTER STYLES
/*-----------------------------------------------------------------------------------*/


footer.sticky {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.contact-wrapper {
    padding-bottom: 5%;
}

.contact-form {
    display: inline-block;
    text-align: center;
}
.contact-txt { display: inline-block }

.contact { padding-top: 0px }
.submit-btn {
    width: 250px;
    font-size: 13px;
    padding: 10px 0;
    float: left;
}
#success-contact { display: none; }
.imprint a { cursor: pointer; cursor: hand }
.imprint-unfold { text-align: left !important; padding-bottom: 20px }
/*-----------------------------------------------------------------------------------*/
/*  END FOOTER STYLES
/*-----------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------*/
/*  RESPONSIVE STYLES
/*-----------------------------------------------------------------------------------*/


@media only screen and (min-width: 1180px) and (orientation: landscape) {

/* DOWNLOAD FROM WEB */
.download-btn-container.preweb { margin-top: 25px; }
.download-btn.web { margin: 50px 20px 0 0; width: 200px }
.exclusive-th {
    margin: 3.5vh 0 1vh 0;
    font-size: 17px
}
.intro-webInstall {
    margin: 0.5vh auto 1vh 0;
    width: 345px;
    padding: 0.5vh 0.2vh;
    font-size: 15px;
}
.intro-webInstall ol { padding: 10px 30px; }


/* RESPONSIVE */
.mobile { display: none }


/* CONTENT */

.wrapper { position: relative; margin: 0 auto; width: 1180px; padding-left: 0px; }

.header-unit {
    padding: 25px 0;
    &.sm { padding: 10px 0 6px 0; }
}
.header-logo {
    height: 65px;
    text-align: left;
    &.sm { height: 35px; }
}

.lang-links { position: absolute; right: 3.5%; top: 0; }

.section-headline { font-size: 30px; padding: 50px 0; }
.section-one  { padding: 50px 0 0 0;}
.section-textbox { display: inline-block; vertical-align: top; margin-top: 40px; width: 53%; }
.section-textbox.left { text-align: left; margin-right: 50px; }
.section-textbox.right { text-align: right; margin-left: 50px; }
.section-txt {
    display: inline-block;
    text-align: left;
    margin-right: 0;
    vertical-align: top;
}
.section-txt.left { text-align: left }
.section-txt.right { text-align: right }

.section1-headline { font-size: 24px; font-weight: bold; }
.section1-sub { font-size: 22px; margin-top: 25px;}
.sub-features { font-size: 17px; margin-top: 40px; }
.section1-img { display: inline-block;}

.download-btn-container { margin-top: 60px; }
.download-btn.shade { box-shadow: 3px 3px 7px rgba(0,0,0,.25);  }
.download-btn.radius { border-radius: 10px;  }
.download-btn { display: inline-block; width: 250px; }
.download-btn.play { margin: 0 40px 0 0; }

.main-device-img  { display: inline-block; height: 350px; vertical-align: bottom; }
.img-right { margin-left: 35px; }


/* SECTION 2 */
.slider-container .lSSlideOuter .lSSlideWrapper.usingCss { margin-bottom: 45px; }

.game-nav { padding: 40px 0 40px 0; }
.nav-game-ico {
    width: 50px;
    margin: 0 auto
}

.game-prev-img { height: 425px }
.game-description {
    width: 200px;
    height: 425px;
    margin-right: 100px;
}
.game-prev-ico {
    height: 100px;
    margin-bottom: 20px;
}
.game-name {
    padding-bottom: 10px;
    font-size: 27px;
}
.game-txt { font-size: 20px; }
.game-preview-footer { font-size: 20px; padding: 20px 0 50px 0; }


/* SECTION 3 */
.wrapper-small { margin: 0 auto; width: 850px;}

.contact-form { width: 68%; }
#contactform input, textarea {
    height: 40px;
    width: 90%;
    margin-bottom: 20px;
    margin-left: 0%;
    padding-left: 10px;
}
.comments { height: 160px !important; }
.contact-txt {
    width: 28%;
    vertical-align: top;
    margin-left: 20px;
}
.contact-txt p { font-size: 20px; }
.contact-txt h1 { margin-bottom: 20px; }
.company-txt { margin-bottom: 30px; }


/* PRESS */

.content-unit.lg { width: 65%; }

.btn-press-unit {
    padding: 70px 0 60px 0;
//  width: 65%; // with posts
    width: 70%; // without posts
}

.btn-getpress { width: 175px; }

.btn-press-unit div { font-size: 17px; padding-top: 5px; }

.publications { margin-bottom: 60px; }
.release-unit {
    width: 52.5%;
    margin: 0 auto 30px auto;
    padding: 20px;
    border-radius: 10px;
}
.release-msg { padding-left: 10px; }
.icon { width: 35px; }


/* EVENT SECTION */
.event-unit {
    height: 600px;
    .section-textbox {
        margin-top: 30px;
        .event-headline { font-size: 37px; }
        .section1-sub {
            width: 1050px;
            margin: 25px auto 0 auto;
            padding: 20px 0;
            font-size: 18px;
            .prize-intro {
                .intro {
                    margin-bottom: 50px;
                    font-size: 30px;
                }
                .prize {
                    .prize-img.first { width: 190px; }
                    .prize-img.second { width: 150px; }
                    .prize-img.third { width: 150px; }
                    .prize-title { margin-top: 20px; }
                }
            }
        }
        .download-btn-container {
            width: 1050px;
            margin: 50px auto 0 auto;
            padding: 10px 0;
            .goToStore-txt {
                font-size: 24px;
                padding-left: 20px;
                .playnow { margin-bottom: 5px; }
                .code-intro {  }
                .code {
                    padding: 10px;
                    margin-left: 10px;
                }
            }
            .download-btn {
                width: 165px;
                padding-right: 5px;
                &.play { margin: 0 20px 0 0; };
            }
        }
    }
}

.event-descr {
    .duration {
            font-size: 23px;
            padding: 0 0 35px 0;
    }
    .challenge-wrapper {
        padding: 25px 0 0 0;
        .section-textbox {
            margin-top: 0px;
            .sub-features {
                width: 90%;
                margin-top: 40px;
            }
            .sub-feature-item {
                font-size: 17px;
                padding-bottom: 10px;
            }
        }
    }
    .challenge-wrapper.second {
        padding-top: 80px;
        .achievements {
            margin-top: 30px;
            .section1-sub { margin-top: 15px; }
            .ac-th { font-size: 19px; }
        }
    }
}

/* helper */
.mobile { display: none }


/* IMPRINT */
.imprint { padding: 50px 0 15px 0 }
.imprint a, p { font-size: 15px }



}
/* Standard 960 or larger (browsers) */
@media only screen and (min-width: 960px) and (max-width: 1179px){

/* DOWNLOAD FROM WEB */
.download-btn.web { margin: 10px 20px 0 0; width: 130px }
.exclusive-th {
    margin: 1.25vh 0 .5vh 0;
    font-size: 13px
}
.intro-webInstall {
    margin: 0.5vh auto 1vh 0;
    width: 350px;
    padding: 0.5vh 0.2vh;
    font-size: 13px;
}
.intro-webInstall ol { padding: 0px 20px; }


/* RESPONSIVE */
.mobile { display: none }
.wrapper { position: relative; margin: 0 auto; width: 960px; }
.section-headline { font-size: 24px; padding: 25px 0; }


/* CONTENT */

.header-unit {
    padding: 15px 0;
    &.sm { padding: 8px 0 5px 0; }
}
.header-logo {
    height: 45px;
    text-align: left;
    &.sm { height: 35px; }
}

.lang-links { position: absolute; right: 0; top: 0; }

.section-one  { padding: 40px 0 0 0;}
.section-textbox { display: inline-block; vertical-align: top; margin-top: 20px; width: 40%; }
.section-textbox.left { text-align: left; margin-right: 60px }
.section-textbox.right { text-align: right; margin-left: 60px }
.section-txt {
    display: inline-block;
    text-align: left;
    margin-right: 0;
    vertical-align: top;
}
.section-txt.left { text-align: left }
.section-txt.right { text-align: right }

.section1-headline { font-size: 22px; font-weight: bold; }
.section1-sub { font-size: 18px; margin-top: 15px;}
.sub-features { width: 95%; font-size: 13px; margin-top: 20px; }
.sub-features.en { width: 100%; font-size: 12px;}
.sub-features.es { width: 100%; font-size: 11px;}
.sub-feature-item { padding: 10px 15px; margin-bottom: 8px; }
.section1-img { display: inline-block;}

.download-btn { display: inline-block; margin: 30px 20px 0 0; width: 170px; }
.main-device-img  { display: inline-block; height: 255px; vertical-align: bottom; }
.img-right { margin-left: 20px }


/* SECTION 2 */
.slider-container .lSSlideOuter .lSSlideWrapper.usingCss { margin-bottom: 35px; }

.game-nav { padding: 15px 0 15px 0; }
.nav-game-ico {
    width: 40px;
    margin: 0 auto
}

.game-prev-img { height: 300px }
.game-description {
    width: 200px;
    height: 300px;
    margin-right: 50px;
}
.game-name {
    padding-bottom: 10px;
    font-size: 25px;
}
.game-prev-ico {
    height: 75px;
    margin-bottom: 20px;
}
.game-txt { font-size: 20px; }
.game-preview-footer { font-size: 20px; padding: 20px 0 50px 0; }




/* SECTION 3 */
.wrapper-small { margin: 0 auto; width: 700px;}

.contact-form { width: 68%; }
#contactform input, textarea {
    height: 40px;
    width: 90%;
    margin-bottom: 20px;
    margin-left: 0%;
    padding-left: 10px;
}
.comments { height: 160px !important; }
.contact-txt {
    width: 28%;
    vertical-align: top;
    margin-left: 20px;
}
.contact-txt p { font-size: 20px; }
.contact-txt h1 { margin-bottom: 20px; }
.company-txt { margin-bottom: 30px; }
.submit-btn { width: 200px !important; }


/* PRESS */

.content-unit.lg { width: 75%; }

.btn-press-unit { width: 75%; padding: 35px 0; }
.btn-getpress { width: 175px; }
.btn-press-unit div { font-size: 17px; padding-top: 5px; }

.publications { margin-bottom: 60px; }
.release-unit {
    width: 65%;
    margin: 0 auto 30px auto;
    padding: 20px;
    border-radius: 10px;
}
.release-msg { padding-left: 10px; }
.icon { width: 35px; }



/* EVENT SECTION */
.event-unit {
    height: 530px;
    .section-textbox {
        margin-top: 30px;
        .event-headline { font-size: 30px; }
        .section1-sub {
            width: 900px;
            margin: 25px auto 0 auto;
            padding: 20px 0;
            font-size: 18px;
            .prize-intro {
                .intro {
                    margin-bottom: 50px;
                    font-size: 25px;
                }
                .prize {
                    .prize-img.first { width: 170px; }
                    .prize-img.second { width: 150px; }
                    .prize-img.third { width: 150px; }
                    .prize-title { margin-top: 20px; }
                }
            }
        }
        .download-btn-container {
            width: 900px;
            margin: 35px auto 0 auto;
            padding: 10px 0;
            .goToStore-txt {
                font-size: 22px;
                padding-left: 20px;
                .playnow { margin-bottom: 5px; }
                .code-intro {  }
                .code {
                    padding: 10px;
                    margin-left: 10px;
                }
            }
            .download-btn {
                width: 125px;
                padding-right: 5px;
                margin: 0;
                &.play { margin: 0 10px 0 0; };
            }
        }
    }
}

.event-descr {
    .duration { font-size: 18px; }
    .challenge-wrapper {
        .main-device-img { height: 310px; }
        .section-textbox {
            width: 56%;
            margin: 20px 0 0 0;
            .section1-sub { font-size: 20px; }
            .sub-features {
                width: 90%;
                margin-top: 35px;
            }
            .sub-feature-item {
                font-size: 15px;
                padding-bottom: 5px;
            }
            .section1-sub.left {
                .sub-feature-item {
                    padding: 0;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

/* helper */
.mobile { display: none }

/* IMPRINT */
.imprint { padding: 25px 0 15px 0 }
.imprint a, p { font-size: 15px }


}

/* Standard 960 or Smaller (browsers) */
@media only screen and (max-width: 959px) {
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {

/* DOWNLOAD FROM WEB */
.download-btn.web { margin: 10px 20px 0 0; width: 130px }
.exclusive-th {
    margin: 1vh 0 .5vh 0;
    font-size: 13px
}
.intro-webInstall {
    margin: 0.5vh auto 1vh 0;
    width: 350px;
    padding: 0.5vh 0.2vh;
    font-size: 13px;
}
.intro-webInstall ol { padding: 0px 20px; }

/* RESPONSIVE */
.mobile { display: none }
.wrapper { position: relative; margin: 0 auto; width: 740px; }
.section-headline { font-size: 24px; padding: 25px 0; }


/* Header + Nav */
.header-unit {
    padding: 15px 0 8px 0;
    &.sm { padding: 10px 0 6px 0;  }
}
.header-logo {
    height: 45px;
    text-align: left;
    &.sm { height: 30px; }
}

.lang-links { position: absolute; right: 0; top: 0; }

.page-nav.sm li { padding: 10px 0; }


/* CONTENT */

.section-one  { padding: 40px 0 0 0;}
.section-textbox { display: inline-block; vertical-align: top; margin-top: 20px; width: 53%; }
.section-textbox.left { text-align: left }
.section-textbox.right { text-align: right }

.challenge-wrapper {
    .section-textbox.right {
        text-align: right;
        margin-top: 0px;
    }
}

.section-txt {
    display: inline-block;
    margin-right: 0;
    vertical-align: top;
    width: 90%;
}
.section-txt.left { text-align: left }
.section-txt.right { text-align: right }

.section1-headline { font-size: 22px; font-weight: bold; }
.section1-sub { font-size: 18px; margin-top: 15px; }
.sub-features { width: 100%; font-size: 12px; margin-top: 25px; }
.sub-features.es { width: 100%; font-size: 11px;}
.sub-feature-item { padding: 10px 10px; margin-bottom: 8px; }
.section1-img { display: inline-block;}

.download-btn { display: inline-block; margin: 30px 20px 0 0; width: 170px; }
.main-device-img  { display: inline-block; height: 255px; vertical-align: bottom; }
.img-right { margin-left: 10px; }


/* SECTION 2 */
.slider-container .lSSlideOuter .lSSlideWrapper.usingCss { margin-bottom: 35px; }

.game-nav { padding: 15px 0 15px 0; }
.nav-game-ico {
    width: 40px;
    margin: 0 auto
}

.game-description {
    width: 200px;
    height: 300px;
    margin-right: 50px;
}
.game-name {
    padding-bottom: 10px;
    font-size: 25px;
}
.game-prev-ico {
    height: 75px;
    margin-bottom: 20px;
}
.game-txt { font-size: 20px; }

.game-preview-footer { font-size: 20px; padding: 20px 0 50px 0; }
.game-prev-img { height: 300px }




/* SECTION 3 */

.wrapper-small { margin: 0 auto; width: 700px;}

.contact-form { width: 68%; }
#contactform input, textarea {
    height: 40px;
    width: 90%;
    margin-bottom: 20px;
    margin-left: 0%;
    padding-left: 10px;
}
.comments { height: 160px !important; }
.contact-txt {
    width: 28%;
    vertical-align: top;
    margin-left: 20px;
}
.contact-txt p { font-size: 20px; }
.contact-txt h1 { margin-bottom: 20px; }
.company-txt { margin-bottom: 30px; }
.submit-btn { width: 200px !important; }


/* PRESS */

.content-unit.lg { width: 90%; }

.btn-press-unit { width: 90%; padding: 35px 0; }
.btn-getpress { width: 150px; }
.btn-press-unit div { font-size: 14px; padding-top: 5px; }

.publications { margin-bottom: 60px; }
.release-unit {
    width: 75%;
    margin: 0 auto 30px auto;
    padding: 20px;
    border-radius: 10px;
}
.release-msg { padding-left: 10px; }
.icon { width: 35px; }


/* EVENT SECTION */
.event-unit {
    height: 420px;
    .section-textbox {
        margin-top: 20px;
        .event-headline { font-size: 26px; }
        .section1-sub {
            width: 730px;
            margin: 15px auto 0 auto;
            padding: 20px 0;
            font-size: 18px;
            .prize-intro {
                .intro {
                    margin-bottom: 30px;
                    font-size: 22px;
                }
                .prize {
                    .prize-img.first { width: 55%; }
                    .prize-img.second { width: 50%; }
                    .prize-img.third { width: 60%; }
                    .prize-title {
                        margin-top: 15px;
                        font-size: 14px;
                    }
                }
            }
        }
        .download-btn-container {
            width: 730px;
            margin: 30px auto 0 auto;
            padding: 10px 0;
            .goToStore-txt {
                text-align: center;
                font-size: 18px;
                padding-left: 7px;
                .playnow { margin-bottom: 5px; }
                .code-intro {  }
                .code {
                    padding: 10px;
                    margin-left: 10px;
                }
            }
            .download-btn {
                width: 110px;
                padding-right: 5px;
                margin: 0;
                &.play { margin: 0 10px 0 0; };
            }
        }
    }
}

.event-descr {
    .wrapper {
        width: 760px;
        .duration { font-size: 17px; }
        .main-device-img { height: 288px; }
        .section-textbox {
            margin-top: 12px;
            .sub-features { margin-top: 17px; }
        }
    }
}
.event-ac {
    .slider-container {
        margin-top: 20px;
        .game-prev-img { height: 330px; }
    }
}

/* helper */
.mobile { display: none }


/* IMPRINT */
.imprint { padding: 30px 0 15px 0 }
.imprint a, p { font-size: 15px }

.social-media-sharing {
    position: relative;
    width: 100%;

    &.shariff {
        .orientation-horizontal {
            > li {
                margin-bottom: 0;
                margin-top: 0;
            }
        }
    }
}

}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

/* DOWNLOAD FROM WEB */
.exclusive-th {
    margin: 0vh 0 1.5vh 0;
    font-size: 15px
}
.intro-webInstall {
    margin: 0 auto 1vh auto;
    width: 400px;
    padding: 1.8vh 0.2vh;
}


/* RESPONSIVE */
.bg-responsive { background-color: #34293a; }
.bg-responsive2 { background-color: #453a4b; }

.web { display: none }
.mobile { display: inline }
.wrapper { position: relative; margin: 0 2%; }
.preview-mobile { position: relative; margin: 0 5%; }

.section-headline { font-size: 20px; padding: 20px 0; }

.b-top { border-top: 1px solid #252525; }
.b-bottom { border-bottom: 1px solid #252525; }


/* CONTENT */
.header-unit { padding: 20px 0 5px 0; }
.header-logo {
    height: 30px;
    text-align: left;
    margin-top: -10px
}
.lazy__container .lazy.header { margin-top: -10px; }

.page-nav td {
    width: 200px;
    padding: 10px;
}

.page-nav.sm li { padding: 10px 0; }


.lang-links { position: absolute; right: 0; top: -40%; }
.lang-sel-img { width: 15px; }

.section1-bg { background-color: #f5d76e; }
.section4-mobile { padding: 10px 0 25px 0; }
.section-one  { padding: 20px 0 0 0; text-align: center; }
.section-textbox { vertical-align: top; width: 100%; text-align: center;}
.section-txt { vertical-align: top; text-shadow: 1px 1px 3px #000;}

.section1-headline { font-size: 20px; font-weight: bold; padding-top: 20px;}
.section1-sub { font-size: 15px; margin: 20px 0 5px 0; text-shadow: 1px 1px 2px #000;}

.download-btn { display: inline-block; margin: 20px 0 30px 0; width: 150px; }
.main-device-img  { height: 275px; vertical-align: bottom; margin: 10px auto 0 auto;}



/* SECTION 2 */
.slider-container .lSSlideOuter .lSSlideWrapper.usingCss { margin-bottom: 25px; }
.lSSlideOuter .lSPager.lSpg > li { padding: 0 11px !important; }
.lSSlideOuter .lSPager.lSpg > li a { height: 8px !important; width: 8px !important; }

.game-nav { padding: 8px 0; width: 100%; }
.nav-game-ico {
    width: 35px;
    margin: 0 auto;
}

.game-description {
    width: 150px;
    height: 275px;
    margin-right: 0px;
}
.game-name {
    padding-bottom: 10px;
    font-size: 22px;
}
.game-prev-ico {
    height: 75px;
    margin-bottom: 10px;
}
.game-txt { font-size: 14px; }

.game-preview-footer { font-size: 15px;  padding: 10px 5px;}
.game-prev-img { height: 275px ; }



/* SECTION 3 */
.wrapper-small {
    margin: 0 auto;
    text-align: center
}

.contact-form { width: 55%; }
#contactform input, textarea {
    height: 20px;
    width: 90%;
    margin-bottom: 10px;
    padding: 5px 0 0 5px;
}
.comments { height: 80px; }

.contact-txt {
    width: 35%;
    vertical-align: top;
    text-align: left;
    margin-left: 5px;
}
.contact-txt h1 { font-size: 20px; margin-bottom: 15px; }
.contact-txt p { font-size: 15px; }

.company-txt { margin-bottom: 15px; }

input[type="submit"] { width: 90%; }
input::-webkit-input-placeholder { font-size: 10px }
input:-moz-placeholder { font-size: 10px }
input::-moz-placeholder { font-size: 10px }
input:-ms-input-placeholder { font-size: 10px }
textarea::-webkit-input-placeholder { font-size: 10px }
textarea:-moz-placeholder { font-size: 10px }
textarea::-moz-placeholder { font-size: 10px }
textarea:-ms-input-placeholder { font-size: 10px }

/* PRESS */

.content-unit.lg { width: 90%; }

.press-wrapper, .content-unit {
    line-height: 22px;
    p { font-size: 14.5px }
    a { font-size: 14px }
}


.btn-press-unit {
    width: 90%;
    padding: 25px 0;
}
.btn-getpress { width: 125px; }
.btn-press-unit div { font-size: 13px; padding-top: 5px; }

.publications { margin-bottom: 60px; }
.release-unit {
    width: 75%;
    margin: 0 auto 30px auto;
    padding: 20px;
    border-radius: 10px;
}
.release-msg { padding-left: 10px; }
.release-title { font-size: 13px; }
.release-date { font-size: 13px; }
.icon { width: 30px; }


/** EVENT SECTION **/
.event-unit {
    height: 375px;
    .section-textbox {
        margin-top: 20px;
        .event-headline { font-size: 22px; }
        .section1-sub {
            width: 650px;
            margin: 15px auto 0 auto;
            padding: 20px 0;
            font-size: 18px;
            .prize-intro {
                .intro {
                    margin-bottom: 25px;
                    font-size: 18px;
                }
                .prize {
                    .prize-img.first { width: 50%; }
                    .prize-img.second { width: 45%; }
                    .prize-img.third { width: 50%; }
                    .prize-title {
                        margin-top: 10px;
                        font-size: 14px;
                    }
                }
            }
        }
        .download-btn-container {
            width: 650px;
            margin: 30px auto 0 auto;
            padding: 10px 0;
            .goToStore-txt {
                text-align: center;
                font-size: 15px;
                padding-left: 7px;
                .playnow { margin-bottom: 5px; }
                .code-intro {  }
                .code {
                    padding: 10px;
                    margin-left: 10px;
                }
            }
            .download-btn {
                width: 110px;
                padding-right: 0px;
                margin: 0;
                &.play { margin: 0 10px 0 0; };
            }
        }
    }
}

.event-descr {
    .duration {
        padding: 15px 0 20px 0;
        font-size: 15px;
    }
}

.event-ac {
    .slider-container {
        margin-top: 20px;
        .game-prev-img { height: 330px; }
    }
}

/* IMPRINT */
.imprint { padding: 20px 0 10px 0 }
.imprint a, p { font-size: 11px }

.social-media-sharing {
    position: relative;
    width: 100%;

    &.shariff {
        .orientation-horizontal {
            > li {
                margin-bottom: 0;
                margin-top: 0;
            }
        }
    }
}

.challenge-section {
    .section-headline {
        padding-bottom: 0;
    }
    .challenge-wrapper {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 0;

        .sub-features {
            margin: 20px auto;
        }

        .image-box {
            display: inline-block;
        }
    }
}

.contact-wrapper {
    display: flex;
    flex-direction: column-reverse;
    font-size: 17px;
    padding-bottom: 5%;

    .contact-txt {
        margin: 0 auto 20px auto;
        width: 80%;
        p {
            font-size: 17px;
        }
    }
    .contact-form {
        position: relative;
        margin: 0 auto;
        width: 80%;

        #contactform {
            overflow: hidden;
            input,
            textarea {
                width: 100%;
                margin-bottom: 0;
                padding: 5px 0 5px 10px;

                &::-webkit-input-placeholder {
                    color: #453a4b;
                    font-size: 15px;
                }
            }
            input {
                height: 30px;
            }
            button[type='submit'] {
                width: 100%;
                display: block;
                color: #453a4b;
                font-size: 17px;
                padding: 5px 0 5px 10px;
            }
        }
    }
}

}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 540px) and (orientation: landscape) {}
@media only screen and (min-width: 541px) and (max-width: 767px) and (orientation: landscape) {}
@media only screen and (min-width: 770px) and (max-width: 959px) and (orientation: landscape) {}

@media (min-width: 481px) and (max-width: 680px) {

/* PRESS */
.btn-press-unit { width: 95%; padding: 25px 0; }
.btn-getpress { width: 100px; }
.btn-press-unit div { font-size: 13px; padding-top: 5px; }

.publications { margin-bottom: 50px; }
.release-unit {
    width: 90%;
    margin: 0 auto 15px auto;
    padding: 10px;
    border-radius: 8px;

    .icon.left { margin-left: 5px; }
}
.release-msg { padding-left: 10px; }
.release-title { font-size: 12px; }
.release-date { font-size: 12px; }
.icon { width: 25px; }

.social-media-sharing {
    position: relative;
    width: 100%;

    &.shariff {
        .orientation-horizontal {
            > li {
                margin-bottom: 0;
                margin-top: 0;
            }
        }
    }
}

/* EVENT SECTION */
.event-unit {
    height: 385px;
    .event-wallpaper {
        width: 150%;
        top: -7px;
        left: -10%;
    }
    .section-textbox {
        margin-top: 20px;
        .event-headline { font-size: 22px; }
        .section1-sub {
            width: 95%;
            margin: 15px auto 0 auto;
            padding: 20px 0;
            font-size: 14px;
            .prize-intro {
                .intro {
                    margin-bottom: 25px;
                    font-size: 15px;
                }
                .prize {
/*                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    .prize-item:nth-child(1),.prize-item:nth-child(2),.prize-item:nth-child(3) {
                        width: 100%;
                    }
                    .prize-img.left { height: 100px; width: auto; }
                    .prize-img.mid { height: 100px; width: auto; }
                    .prize-img.right { height: 100px; width: auto; }
*/
                    .prize-img.first { width: 50%; }
                    .prize-img.second { width: 45%; }
                    .prize-img.third { width: 50%; }
                    .prize-title {
                        margin-top: 10px;
                        font-size: 11px;
                        font-weight: normal;
                    }
                    .prize-title:nth-child(2) { font-weight: bold; }
                }
            }
        }
        .download-btn-container {
//            display: table;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 95%;
            margin: 20px auto 0 auto;
            padding: 10px 0;
            text-align: center;
            .goToStore-txt {
//                display: table-cell;
//                text-align: center;
                width: 100%;
                //text-align: center;
                font-size: 15px;
                padding-left: 7px;
                .code-intro {  }
                .code {
                    padding: 10px;
                    margin-left: 10px;
                }
            }
            .goToStore-btn {
                width: 100%;

                .download-btn {
                    width: 130px;
                    padding-right: 0px;
                    margin: 10px 0 0 0;
                    &.play { margin: 0 10px 0 0; };
                }
            }
        }
    }
}



}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media (min-width: 368px) and (max-width: 480px) {

/* DOWNLOAD FROM WEB */
.exclusive-th {
    margin: 0vh 0 1.5vh 0;
    font-size: 15px
}
.intro-webInstall {
    margin: 0 2vh 1vh 2vh;
    width: auto;
    padding: 1.8vh 0.2vh;
}


/* RESPONSIVE */
.web { display: none }
.mobile { display: inline }
.wrapper { position: relative; margin: 0 2%; }
.preview-mobile { position: relative; margin: 0 5%; }

.b-top { border-top: 1px solid #252525; }
.b-bottom { border-bottom: 1px solid #252525; }
.section-headline { font-size: 20px; padding: 20px 0; }


/* CONTENT */
.header-unit { padding: 15px 0 5px 0; }
.header-logo {
    height: 30px;
    text-align: left;
    margin-top: -5px
}
.lazy__container .lazy.header { margin-top: -5px; }

.lang-links { position: absolute; right: 0; top: -40%; }
.lang-sel-img { width: 15px; }

.section4-mobile { padding: 10px 0 25px 0; }
.section-one  { padding: 20px 0 0 0; text-align: center; }
.section-textbox { vertical-align: top; width: 100%; text-align: center;}
.section-txt { vertical-align: top; text-shadow: 1px 1px 3px #000;}

.section1-bg { background-color: #f5d76e; }
.section1-headline { font-size: 20px; font-weight: bold; padding-top: 20px;}
.section1-sub { font-size: 15px; margin: 20px 0 5px 0; text-shadow: 1px 1px 2px #000;}

.download-btn { display: inline-block; margin: 20px 0 30px 0; width: 150px; }

.main-device-img  { height: 275px; vertical-align: bottom; margin: 10px auto 0 auto;}



/* SECTION 2 */
.lSSlideOuter .lSPager.lSpg > li { padding: 0 8px !important; }
.lSSlideOuter .lSPager.lSpg > li a { height: 8px !important; width: 8px !important; }

.game-nav { padding: 8px 0; width: 100%; }
.nav-game-ico {
    width: 35px;
    margin: 0 auto;
}

.game-description {
    width: 150px;
    height: 275px;
    margin-right: 0px;
}
.game-prev-ico {
    height: 75px;
    margin-bottom: 10px;
}
.game-name {
    padding-bottom: 10px;
    font-size: 20px;
}
.game-txt { font-size: 13px; }
.game-prev-img { height: 275px ; }
.game-preview-footer { font-size: 15px;  padding: 10px 5px;}


/* SECTION 3 */

.wrapper-small { margin: 0 auto; text-align: center }

.contact-form { width: 55%; }
#contactform input, textarea {
    height: 20px;
    width: 90%;
    margin-bottom: 10px;
    padding: 5px 0 0 5px;
}
.comments { height: 80px; }
.contact-txt {
    width: 35%;
    vertical-align: top;
    text-align: left;
    margin-left: 5px;
}

.company-txt { margin-bottom: 15px; }
.contact-txt p { font-size: 12px; }
.contact-txt h1 { font-size: 20px; margin-bottom: 15px; }

input[type="submit"] { width: 90%; }
input::-webkit-input-placeholder { font-size: 10px }
input:-moz-placeholder { font-size: 10px }
input::-moz-placeholder { font-size: 10px }
input:-ms-input-placeholder { font-size: 10px }
textarea::-webkit-input-placeholder { font-size: 10px }
textarea:-moz-placeholder { font-size: 10px }
textarea::-moz-placeholder { font-size: 10px }
textarea:-ms-input-placeholder { font-size: 10px }


/* PRESS */
.btn-press-unit { width: 95%; padding: 25px 0; }
.btn-getpress { width: 80px; }
.btn-press-unit div { font-size: 12px; padding-top: 2px; }

.publications { margin-bottom: 50px; }
.release-unit {
    width: 90%;
    margin: 0 auto 15px auto;
    padding: 10px;
    border-radius: 8px;

    .icon.left { margin-left: 5px; }
}
.release-msg { padding-left: 10px; }
.release-title { font-size: 12px; }
.release-date { font-size: 12px; }
.icon { width: 25px; }


/* EVENT SECTION */
.event-unit {
    height: initial;
    .event-wallpaper {
        display: none;
//        width: 159%;
//        top: 11%;
//        left: -44%;
    }
    .section-textbox {
        margin-top: 13px;
        .event-headline { font-size: 20px; }
        .section1-sub {
            background: url("../images/event/em2016/stadium.jpeg");
            //background-size: 178%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position-x: 44%;
            width: 99%;
            margin: 15px auto 0 auto;
            padding: 20px 0;
            font-size: 14px;
            border-bottom: none;
            .prize-intro {
                .intro {
                    margin-bottom: 25px;
                    font-size: 19px;
                }
                .prize {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    .prize-item:nth-child(1),.prize-item:nth-child(2),.prize-item:nth-child(3) {
                        flex-grow: 1;
                    }
                    .prize-item:nth-child(2),.prize-item:nth-child(3) { margin-top: auto; }
                    .prize-item:nth-child(3) { padding-top: 30px; }
                    .prize-img.first { height: 120px; width: auto; }
                    .prize-img.second { height: 90px; width: auto; }
                    .prize-img.third { height: 55px; width: auto; }
                    .prize-title {
                        margin-top: 10px;
                        font-size: 11px;
                        font-weight: normal;
                    }
                    .prize-title:nth-child(2) { font-weight: bold; }
                }
            }
        }
        .download-btn-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 99%;
            margin: 0 auto 0 auto;
            padding: 10px 0;
            text-align: center;
            .goToStore-txt {
                width: 100%;
                font-size: 15px;
                padding-left: 0px;
                .code-intro {  }
                .code {
                    padding: 10px;
                    margin-left: 10px;
                }
            }
            .goToStore-btn {
                width: 100%;
                margin-top: 5px;

                .download-btn {
                    width: 130px;
                    padding-right: 0px;
                    margin: 10px 0 0 0;
                    &.play { margin: 0 10px 0 0; };
                }
            }
        }
    }
}

.event-ac {
    .slider-container {
        margin-top: 20px;
        .game-prev-img { height: 260px; }
    }
    .game-prev-ico {
        height: 55px;
    }
}

/* IMPRINT */
.imprint { padding: 20px 0 10px 0 }
.imprint a, p { font-size: 10px }
.imprint-unfold { width: 410px }

.social-media-sharing {
    position: relative;
    width: 100%;

    &.shariff {
        .orientation-horizontal {
            > li {
                margin-bottom: 0;
                margin-top: 0;
            }
        }
    }
}

}
@media (min-width: 300px) and (max-width: 367px) {

/* DOWNLOAD FROM WEB */
.exclusive-th {
    margin: 0vh 0 1.5vh 0;
    font-size: 15px
}
.intro-webInstall {
    margin: 0 1vh 1vh 1vh;
    width: auto;
    padding: 1.8vh 0.2vh;
}


/* RESPONSIVE */
.download-btn { display: inline-block; margin: 20px 0 30px 0; width: 130px; }
.main-device-img  { height: 230px; vertical-align: bottom; margin: 10px auto 0 auto;}
.main-device-right { margin-left: 15px }

/* SECTION 2 */
.lSSlideOuter .lSPager.lSpg > li { padding: 0 8px !important; }
.lSSlideOuter .lSPager.lSpg > li a { height: 8px !important; width: 8px !important; }

.game-description {
    width: 100px;
    height: 200px;
    margin-right: 0px;
}
.game-prev-ico {
    height: 45px;
    margin-bottom: 10px;
}
.game-name {
    padding-bottom: 5px;
    font-size: 13px;
}
.game-txt { font-size: 9px; }
.game-prev-img { height: 200px ; }


/* SECTION 3 */
.wrapper-small { margin: 0 auto; width: auto; text-align: center }


/* PRESS */
.btn-press-unit { width: 95%; padding: 25px 0; }
.btn-getpress { width: 80px; }
.btn-press-unit div { font-size: 12px; padding-top: 2px; }

.publications { margin-bottom: 50px; }
.release-unit {
    width: 90%;
    margin: 0 auto 15px auto;
    padding: 10px;
    border-radius: 8px;

    .icon.left { margin-left: 5px; }
}
.release-msg { padding-left: 10px; }
.release-title { font-size: 12px; }
.release-date { font-size: 12px; }
.icon { width: 25px; }


/* EVENT SECTION */
.event-unit {
    height: initial;
    .event-wallpaper {
        display: none;
        width: 160%;
        top: 11%;
        left: -17%;
    }
    .section-textbox {
        margin-top: 13px;
        .event-headline { font-size: 18px; }
        .section1-sub {
            background: url("../images/event/em2016/stadium.jpeg");
            //background-size: 160%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position-x: 17%;
            width: 99%;
            margin: 15px auto 0 auto;
            padding: 20px 0;
            font-size: 14px;
            border-bottom: none;
            .prize-intro {
                .intro {
                    margin-bottom: 15px;
                    font-size: 16px;
                }
                .prize {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    .prize-item:nth-child(1),.prize-item:nth-child(2),.prize-item:nth-child(3) {
                        flex-grow: 1;
                    }
                    .prize-item:nth-child(2),.prize-item:nth-child(3) { margin-top: auto; }
                    .prize-item:nth-child(3) { padding-top: 30px; }
                    .prize-img.first { height: 90px; width: auto; }
                    .prize-img.second { height: 75px; width: auto; }
                    .prize-img.third { height: 55px; width: auto; }
                    .prize-title {
                        margin-top: 10px;
                        font-size: 11px;
                        font-weight: normal;
                    }
                    .prize-title:nth-child(2) { font-weight: bold; }
                }
            }
        }
        .download-btn-container {
//            display: table;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 99%;
            margin: 0 auto 0 auto;
            padding: 10px 0;
            text-align: center;
            .goToStore-txt {
//                display: table-cell;
//                text-align: center;
                width: 100%;
                //text-align: center;
                font-size: 13px;
                padding: 0;
                .code-intro {  }
                .code {
                    padding: 10px;
                    margin-left: 10px;
                }
            }
            .goToStore-btn {
                width: 100%;

                .download-btn {
                    width: 130px;
                    padding-right: 0px;
                    margin: 10px 0 0 0;
                    &.play { margin: 0 10px 0 0; };
                }
            }
        }
    }
}

.event-ac {
    .slider-container {
        margin-top: 20px;
        .game-prev-img { height: 260px; }
    }
    .game-prev-ico {
        height: 55px;
    }
}

}

/* ----------- iPhone 5 ----------- */
/* Portrait */
@media only screen and (max-device-width: 320px) and (max-device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {

.main-device-img  { height: 240px; vertical-align: bottom; margin: 10px auto 0 auto;}
.main-device-right { margin-left: 15px }

/* EVENT SECTION */
.event-unit {
    height: initial;
    .event-wallpaper {
        width: 177%;
        top: 11%;
        left: -17%;
    }
    .section-textbox {
        margin-top: 13px;
        .event-headline { font-size: 18px; }
        .section1-sub {
            background: url("../images/event/em2016/stadium.jpeg");
            //background-size: 180%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position-x: 17%;
            width: 99%;
            margin: 15px auto 0 auto;
            padding: 20px 0;
            font-size: 14px;
            border-bottom: none;
            .prize-intro {
                .intro {
                    margin-bottom: 15px;
                    font-size: 16px;
                }
                .prize {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    .prize-item:nth-child(1),.prize-item:nth-child(2),.prize-item:nth-child(3) {
                        flex-grow: 1;
                    }
                    .prize-item:nth-child(2),.prize-item:nth-child(3) { margin-top: auto; }
                    .prize-item:nth-child(3) { padding-top: 30px; }
                    .prize-img.first { height: 90px; width: auto; }
                    .prize-img.second { height: 75px; width: auto; }
                    .prize-img.third { height: 55px; width: auto; }
                    .prize-title {
                        margin-top: 10px;
                        font-size: 11px;
                        font-weight: normal;
                    }
                    .prize-title:nth-child(2) { font-weight: bold; }
                }
            }
        }
        .download-btn-container {
//            display: table;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 99%;
            margin: 0 auto 0 auto;
            padding: 10px 0;
            text-align: center;
            .goToStore-txt {
//                display: table-cell;
//                text-align: center;
                width: 100%;
                //text-align: center;
                font-size: 13px;
                padding: 0 15px;
                .code-intro {  }
                .code {
                    padding: 10px;
                    margin-left: 10px;
                }
            }
            .goToStore-btn {
                width: 100%;

                .download-btn {
                    width: 130px;
                    padding-right: 0px;
                    margin: 10px 0 0 0;
                    &.play { margin: 0 10px 0 0; };
                }
            }
        }
    }
}

}

/* ----------- iPhone 4 ----------- */
/* Portrait */
@media only screen and (max-device-width: 320px) and (max-device-height: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}