<!doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="{{ page.author }}">
    <meta property="og:url" content="{{ page.open_graph.url }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ page.open_graph.title }}" />
    <meta property="og:description" content="{{ page.open_graph.description }}" />
    <meta property="og:image" itemprop="image" content="{{ site.url }}/{{ page.open_graph.image }}" />
</head>

{% include script_tags.html %}

{% include app_store_link.html %}
