<!DOCTYPE html>
<html lang="{{ page.language }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <meta name="author" content="Kazong Games" />
        <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
        <meta http-equiv="cache-control" content="public" />

        <meta property="og:url" content="{{ page.open_graph.url }}" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{ page.open_graph.title }}" />
        <meta property="og:description" content="{{ page.open_graph.description }}" />
        <meta property="og:image" content="{{ page.open_graph.image }}" />

        <link rel="icon" type="image/ico" href="/{{ page.base_dir }}images/fav-ico.ico" />
        <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" />
    </head>

    <body>
        <a href="/de/" rel="alternate" hreflang="de">Kazong - Spiele mit Freunden</a>
        <a href="/en/" rel="alternate" hreflang="en">Kazong - Play with Friends</a>
        <a href="/es/" rel="alternate" hreflang="es">Kazong - Juegan con sus amigos y amigas</a>
        <a href="/fr/" rel="alternate" hreflang="fr">Kazong - Jouer avec des amis</a>
        <a href="/it/" rel="alternate" hreflang="it">Kazong - Giocare con gli amici</a>

        {% include script_tags.html %}

        {{ content }}

        <script type="text/javascript">
            var supportedLangs = [ 'de', 'es', 'it', 'en', 'fr' ];
            var defaultLang = 'en';
            var browserLang = navigator.language || navigator.userLanguage;
            var langParts = browserLang.split('-');
            var shortLang = defaultLang;
            if (langParts.length > 0) {
                shortLang = langParts[0];
                if (false === supportedLangs.indexOf(shortLang)) {
                    shortLang = defaultLang;
                }
            }
            window.location.href = '/' + shortLang + '/';
        </script>
    </body>
</html>
